body {
  text-align: center;
}

#title {
  margin: 0 auto;
  font-family: sans-serif;
}

h4,h3 {
  font-family: Verdana;
}

th, td {
  border: 2px solid lightblue;
  font-family: Verdana;
}

button {
  background-color: gray;
  border-style: none;
}

.wrapup {
    margin: 0 auto;
}

.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}
